/* Reset CSS */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Default Styles */
  body {
    background-color: #e19ed1;
    color: #bb1aa0;
  }
  
  header, footer {
    background-color: #77051a;
    color: rgb(252, 114, 114);
    text-align: center;
    padding: 1em;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  /* Light Theme */
  .light-theme {
    background-color: #9c9fe3;
    color: #0d035f;
  }
  
  /* Dark Theme */
  .dark-theme {
    background-color: #8be494;
    color: #086c29;
  }
